// Importing fonts

@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800");

table {
  border-collapse: collapse; }

.col
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px; }

.scroll-sidebar {
  height: calc(100% - 20px);
  position: relative;
  color: #000000;

.sidebar-nav ul .sidebar-item .sidebar-link {
      color: #fff;
      padding: 14px 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      white-space: nowrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      line-height: 25px;
      opacity: 0.6; }
      .sidebar-nav ul .sidebar-item .sidebar-link i {
        font-style: normal;
        width: 35px;
        line-height: 25px;
        font-size: 23px;
        color: #fff;
        display: inline-block;
        text-align: center; }
      .sidebar-nav ul .sidebar-item .sidebar-link.active, .sidebar-nav ul .sidebar-item .sidebar-link:hover {
        opacity: 1; }
    .sidebar-nav ul .sidebar-item.selected > .sidebar-link {
      /*background: rgba(0, 0, 0, 0.04);*/
      opacity: 1; }
    .sidebar-nav ul .sidebar-item .first-level {
      padding: 0 0 10px 0; }
      .sidebar-nav ul .sidebar-item .first-level .sidebar-item.active .sidebar-link {
        opacity: 1; }
      .sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link {
        padding: 10px 15px; }
        .sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link i {
          font-size: 14px; }


.sidebar {
    position = relative;
    display = flex;
    padding; 14px 15px;
    size: 20%;
    background-color: gray;
}